/* :root {
  --primary-dark: #000000;
  --primary-light: #ffffff;
  background-color: var();
  color: var();
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
